{{> head }}

   
   {{> navbar }}

    
    <div call="row">
        <div call="col-2">

        <h1 class="display-4">{{nosotro}}</h1>
        </div>
        <div call="col-4">
            
        <img src="{{about_img}}" class="img-thumbnail">
        </div>

    </div>
  
  
{{> footer }}